.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___feature {
  display: block;
  font-size: 1.5em;
}

.fighter-preview___info {
  width: 100%;
  background: #ffdfa7;
  padding: 1em;
  border: 5px solid #ca9650;
}